@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Leo Systems & Computers</h1>
    <table style="width:400px;" align="center">
        <tr><td>
    <img src="~/images/hbran.JPG" width="100" />
</td><td>
    <img src="~/images/logoLSC.png"  width="50"/>
</td><td>
<img src="~/images/logoSun.png" width="75" /></td><td>
    <img src="~/images/logoMS.png"  width="75"/>
</td><td>
    <img src="~/images/QR_youtube.JPG" width="100" />
</td></tr>
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
