@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .ya {
        color: green;
    }

    .no {
        color: red;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bienvenido a Leo Systems & Computers</h1>
</div>

<BR>
<p>Esta es una prueba con las siguientes tecnologias:</p>
<center>
<table>
    <tr>
        <td width="300" valign="top">
            <ul>
                <li class="ya">Azure</li>
                <ul>
                    <li class="ya">SQL database</li>
                    <li class="ya">App Service</li>
                </ul>
                <li class="ya">GIT</li>
                <li class="ya">Xamarin</li>
                <li class="no">Backend</li>
                <ul><li class="no">Node JS</li></ul>
                <li class="no">Frontend</li>
                <ul>
                    <li class="no">Angular</li>
                    <li class="no">React</li>
                    <li class="no">VUE.JS</li>
                </ul>
            </ul>
        </td>
        <td>
            <iframe width="500" height="500" src="~/images/Curriculo hbran.pdf">
            </iframe>
        </td>
    <tr />
</table>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</center>